
/* branch main-body */

body {

    font: 15px/1.5 Arial, Helvetica, sans-serif

}



/* Header */

header {
    background:rgb(68, 63, 63);
    color:#ffffff;
    text-decoration: none;
    font-size: 16px;

}