
/* branch main-body */

body {

    font: 15px/1.5 Arial, Helvetica, sans-serif

}



/* Header */

header {
    background:lightslategrey;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 60px;
    border-bottom: 3px solid rgb(12, 11, 11);

}

header .container #website-title {
    float: left;
}

#website-title {
    margin-bottom: 60px;
    margin-top: -30px;
}


header li {
    display: inline;
    float: right;
    padding: 0 20px 0 20px;

}

li a {
    color: rgb(2, 2, 2);
    text-decoration: none;
    font-size: 20px;
    font-weight:bold;

}

li a:hover {
    color:white;
    text-decoration:none;

}


/* Section 1 branch*/


#broken-jukebox {

    min-height: 250px;
    background:url('../img/Dark-side-of-the-moon.png');
    text-align:center;
    color:#ffffff;
    padding-bottom:10px;
    border-top: 2px solid red;

}

#broken-jukebox p{
    font-size: 30px;
}


#broken-jukebox {
    color: white;
    text-decoration: none;
}

a:hover {
    color: red;
    
}

/* here i created this id just to distinguish the 
color, because if it was we couldn't see anything :) */

#who {
    color: red;
    font-weight: bold;
}


/* section-2 branch*/

#submit-answers {


    background:lightslategrey;
    padding: 20px;
    color:#ffffff;
    border-bottom: 2px solid red;
    
}

#pull-request {
    font-size: 20px;
    text-decoration: none;
    color:white;
    padding: 10px;
    border: 1px ridge transparent;
    background: green;
    border-radius: .50em;

}

#pull-request:hover{
    border: 0.5px solid lightslategray;
}

/* Section 3 branch */

#boxes .box {
    float: left;
    text-align: center;
    width: 30%;
    padding:10px;

}

#lyrics {
    text-decoration: none;
    color:white;
}

#boxes .box img {
    width:200px;
}

/* footer branch */

footer {
    padding:20px;
    margin-top:350px;
    color:#ffffff;
    background-color: lightslategrey;
        text-align:center;

}



#lyrics {
    text-decoration: none;
    color:white;
}

#lyrics:hover {
    text-decoration: none;
    color: red;
}
